<h1 class='text-center'>Register</h1>
<% @user.errors.full_messages.each do |error| %>
  <div class="alert alert-primary" role="alert">
    <%= error %>
  </div>
<% end %>
<section class='container user-form'>
  <%= form_for @user do |f| %>

    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control', placeholder: "Enter Username" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: "Enter Email" %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>

    <%= f.submit "Register", class: "btn btn-primary" %>

  <% end %>
</section>
<br>
<p class='text-center' style='color: #DAB785;'>I know... it seems silly, it's for practice</p>
